<div class="modal-header">
  <h4 class="modal-title">How many examples would you like to generate?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="align-field">
      <p> I would like to generate </p>
    </div>
    <input type="number"
           [(ngModel)]="numberOfExamples"
           [min]="0"
           [max]="10"
           (keyup)="checkNumber()"
           class="form-control control-margin"
           placeholder="0">
    <div class="align-field">
      <p> Example(s) </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="confirm()">Confirm</button>
  <button type="button" class="btn btn-outline-danger" (click)="close()">Cancel</button>
</div>
