<br><br>
<form class="container">
  <div class="text-center">
    <h1><b>Word Input</b></h1>
  </div>
  <br>
  <div class="form-inline">
    <div class="input-group mb-3 mx-auto">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Word Base Form</span>
      </div>
      <input type="text" class="form-control" name="base" [(ngModel)]="newWord['Base Form']" #ctrl="ngModel" required
             placeholder="ⴰⵔⴻ ⴰⵡⴰⵍ ⵖⵉ" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>
  <div class="text-center">
    <h1><b>Characteristics</b></h1>
  </div>
  <br>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="25px grid">
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="type">Word Type</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownType"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Type']}}
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor="let type of types" (click)="updateSelection('Type', type)">{{type}}</a>
          </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="annex">Word Annex</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownAnnex"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Annex']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let annex of annexes" (click)="updateSelection('Annex', annex)">{{annex}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="state">Word State</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownState"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['State']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let state of states" (click)="updateSelection('State', state)">{{state}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="radical">Word Radical</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownRadical"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Radical']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let radical of radicals" (click)="updateSelection('Radical', radical)">{{radical}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="aspect">Word Aspect</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownAspect"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Aspect']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let aspect of aspects" (click)="updateSelection('Aspect', aspect)">{{aspect}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class=" input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="gender">Word Gender</span>
        </div>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownGender"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Gender']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let gender of genders" (click)="updateSelection('Gender', gender)">{{gender}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class=" input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="person">Word Person</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownPerson"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Person']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let person of persons" (click)="updateSelection('Person', person)">{{person}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class=" input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="number">Word Number</span>
        </div>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownNumber"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Number']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let number of numbers" (click)="updateSelection('Number', number)">{{number}}</a>
        </div>
      </div>
    </div>
    <div  fxFlex="0 1 calc(33.3% - 32px)">
      <div class=" input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="tense">Word Tense</span>
        </div>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuType"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{newWord['Tense']}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let tense of tenses" (click)="updateSelection('Tense', tense)">{{tense}}</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-outline-success" [disabled]="checkCompletion()"
            (click)="saveWord()">Save Word</button>
  </div>
</form>
