<br>
<div class="container form" role="main" style="height: 100vh">
  <h1><b>Pattern</b></h1>
  <br>
  <form [formGroup]="boxForm">
    <div class="row">
      <div formArrayName="items" *ngFor="let item of items.controls; let i = index;" style="margin-bottom: 10px">
        <div class="form-group" [formGroupName]="i" >
          <div class="dropdown fixed-size">
            <mat-icon style="color:green; cursor: pointer" (click)="addPattern(i)">add</mat-icon>
            <mat-icon style="color:red; cursor: pointer" (click)="removePattern(i)">remove</mat-icon>
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton{{i}}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{items.controls[i].value.pattern}}
            </button>
            <div *ngIf="i === 0">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor="let type of initPattern" (click)="updatePattern(type, i)">{{type}}</a>
              </div>
            </div>
            <div *ngIf="i > 0">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor="let type of patternOptions" (click)="updatePattern(type, i)">{{type}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-icon style="color:green; cursor: pointer" (click)="addPattern(items.length)">add</mat-icon>
    </div>
  </form>
  <div *ngIf="!userInput">
    <br>
    <div class="row">
      <button type="button" class="btn btn-outline-primary" [disabled]="items.length === 0"
              (click)="activateUserInput()">Input Sample</button>
      <button type="button" class="btn btn-outline-primary" style="margin-left: 10px" [disabled]="items.length === 0"
              (click)="generate()">Generate Example</button>
    </div>
  </div>
  <div *ngIf="userInput">
    <br>
    <h1><b>User Example</b></h1>
    <br>
    <form [formGroup]="boxForm">
      <div class="row">
        <div formArrayName="items" *ngFor="let item of items.controls; let i = index;" style="margin-bottom: 10px">
          <div class="form-group" [formGroupName]="i" >
            <div class="fixed-size">
              <div class="control">
                <input formControlName="example"
                       class="form-control control-width"
                       placeholder="ⴹⵡⵔ..."
                       (keyup)="tifinaghConversion(i)"
                       [appAutocomplete]="autocomplete">
              </div>
              <app-autocomplete #autocomplete="appAutocomplete">
                <ng-template appAutocompleteContent>
                  <ng-container *ngIf="(options[i] | filter: items.controls[i].value.example) as result">
                    <app-option *ngFor="let option of result" [value]="option">
                      {{ option }}
                    </app-option>
                    <app-option class="no-result" *ngIf="!result.length">No result...</app-option>
                  </ng-container>
                </ng-template>
              </app-autocomplete>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <button type="button" class="btn btn-outline-success"
            (click)="submitExample('yes')">Submit Correct Example</button>
    <button type="button" class="btn btn-outline-danger" style="margin-left: 10px"
            (click)="submitExample('no')">Submit Wrong Example</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 10px"
            (click)="generate()">Generate Example</button>
  </div>
  <div *ngIf="generateSentence">
    <br>
    <h2><b>System-Generated Example(s)</b></h2>
    <div class="container">
      <div *ngFor="let sentence of generatedSentences; let k = index">
        <div class="row">
          <p>{{sentence}}</p>
          <mat-icon class ="padded" style="color:green; cursor: pointer" (click)="judge(k, 'yes')">done</mat-icon>
          <mat-icon class="padded" style="color:red; cursor: pointer" (click)="judge(k, 'no')">clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
