<br>
<div class="container form" role="main">
  <h1><b>Pattern</b></h1>
  <div class="row">
    <div *ngFor="let added of pattern; let i = index">
      <div class="dropdown fixed-size">
        <mat-icon style="color:green; cursor: pointer" (click)="addPattern(i)">add</mat-icon>
        <mat-icon style="color:red; cursor: pointer" (click)="removePattern(i)">remove</mat-icon>
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton{{i}}"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{added}}
        </button>
        <div *ngIf="i === 0 || i === pattern.length-1">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor="let type of initPattern" (click)="updatePattern(type, i)">{{type}}</a>
          </div>
        </div>
        <div *ngIf="i > 0 && i < pattern.length-1">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor="let type of patternOptions" (click)="updatePattern(type, i)">{{type}}</a>
          </div>
        </div>
      </div>
    </div>
    <mat-icon style="color:green; cursor: pointer" (click)="addPattern(pattern.length)">add</mat-icon>
  </div>
  <br>
  <button type="button" class="btn btn-outline-success" [disabled]="pattern.length === 0"
          (click)="generate('pattern')">Generate Example</button>
  <div *ngIf="generateSentence">
    <br>
    <h2><b>System-Generated Example</b></h2>
    <div class="container">
      <div *ngFor="let sentence of generatedSentences; let k = index">
        <div class="row">
          <p>{{sentence}}</p>
          <mat-icon class ="padded" style="color:green; cursor: pointer" (click)="judge(k, 'yes')">done</mat-icon>
          <mat-icon class="padded" style="color:red; cursor: pointer" (click)="judge(k, 'no')">clear</mat-icon>
        </div>
      </div>
    </div>
    <br>

  </div>
  <h1><b>Example</b></h1>
  <div class="row">
    <div *ngFor="let added of utterance; let j = index">
      <div class="dropdown fixed-size">
        <mat-icon style="color:green; cursor: pointer" (click)="addUtterance(j)">add</mat-icon>
        <mat-icon style="color:red; cursor: pointer" (click)="removeUtterance(j)">remove</mat-icon>
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu{{j}}"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{added}}
        </button>
        <div *ngIf="j === 0 || j === utterance.length-1">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor="let type of initPattern" (click)="updateUtterance(type, j)">{{type}}</a>
          </div>
        </div>
        <div *ngIf="j > 0 && j < utterance.length-1">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" *ngFor="let type of patternOptions" (click)="updateUtterance(type, j)">{{type}}</a>
          </div>
        </div>
      </div>
    </div>
    <mat-icon style="color:green; cursor: pointer" (click)="addUtterance(utterance.length)">add</mat-icon>
  </div>
  <br>
  <button type="button" class="btn btn-outline-success" [disabled]="utterance.length === 0"
          (click)="generate('utterance')">Generate Example</button>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

