<div class="modal-nstuff">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Your Choice</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="verdict === 'correct'">
    <p>Do you really want to submit <b>{{sentence}}</b> as a <span style="color: green"><b>{{verdict}}</b></span> sentence?</p>
  </div>
  <div class="modal-body" *ngIf="verdict === 'wrong'">
    <p>Do you really want to submit <b>{{sentence}}</b> as a <span style="color: red"><b>{{verdict}}</b></span> sentence?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="close('yes')">Yes</button>
    <button type="button" class="btn btn-outline-danger" (click)="close('no')">No</button>
  </div>
</div>
